import djcelery
djcelery.setup_loader()

# FIXME celery_amqp_vhost config
BROKER_URL = 'amqp://{{ current_relation.username }}:{{ current_relation.password }}@{{ current_relation.hostname }}:5672/{{ sanitized_unit_name }}'

#CELERY_RESULT_BACKEND='djcelery.backends.database:DatabaseBackend',

CELERY_ALWAYS_EAGER = {{ celery_always_eager }}

INSTALLED_APPS += (
   'djcelery',
)
