#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

CACHES = {
    'default': {
        'BACKEND': '{{cache_engine}}',
        'LOCATION': '{{cache_host}}:{{cache_port}}',
    }
}
