#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

MONGO_DB = {
    'host': '{{ db_host }}',
    'port': {{ db_port }},
}
