#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

MONGO_DB = {
    'host': '{{ current_relation.host }}',
    'port': {{ current_relation.port }},
}
