#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

DATABASES = {
    "default": {
        "ENGINE": '',
        "NAME": '{{ current_relation.database }}',
        "USER": '{{ current_relation.user }}',
        "PASSWORD": '{{ current_relation.password }}',
        "HOST": '{{ current_relation.host }}',
        "PORT": '',
    }
}

# Backward compatibility
DATABASE_ENGINE=DATABASES

