#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

REDIS = {
    'host': '{{ current_relation.hostname }}',
    'port': {{ current_relation.port }},
    'db': 0,
}
