#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

REDIS = {
    'host': '{{ db_host }}',
    'port': {{ db_port }},
    'db': 0,
}
