#-------------------------------------------------------------------------
# The following is the import code for the urls directory injected by Juju
# Do not remove this comment
#-------------------------------------------------------------------------

import glob
from os.path import abspath, dirname, join

PROJECT_DIR = abspath(dirname(__file__))

conffiles = glob.glob(join(PROJECT_DIR, '{{ urls_dir_name }}', '*.py'))
conffiles.sort()

if not 'urlpatterns' in locals():
    urlpatterns = ()

for f in conffiles:
    exec(open(abspath(f)).read())
